.k-widget ::selection, .k-block ::selection, .k-panel ::selection {
  background-color:  #bebebe !important;
  color: #ffffff !important;
}

.k-grid {
  border-color: rgba(0,0,0,0.12);
  color: rgba(240, 240, 240, 0.99);
  background-color: #1c1c1c;
  background-clip: padding-box;
}
.k-height-container {
  background-color: #1c1c1c !important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
}
.k-grid-header, .k-header, .k-grid-header-wrap, .k-grouping-header, .k-grouping-header .k-group-indicator, .k-grid td, .k-grid-footer, .k-grid-footer-wrap, .k-grid-content-locked, .k-grid-footer-locked, .k-grid-header-locked, .k-filter-row>td, .k-filter-row>th {
  border-color: #1c1c1c !important;
  color: rgba(240, 240, 240, 0.99);
}

.k-grid-header-wrap thead tr {
  background-color: #1c1c1c !important;
}

.k-grid-norecords,  .k-grid-norecords td:hover  {
  background-color: #1e1e1e;
}

/* Inputs */ 
.k-textbox, .k-textarea, .k-input.k-textbox {
  color: rgb(240, 240, 240) !important;
  border-color: rgb(162, 221, 255) !important;
}
.k-textbox:focus, .k-textbox.k-state-focus, .k-textarea:focus, .k-textarea.k-state-focus, .k-input.k-textbox:focus, .k-input.k-textbox.k-state-focus {
  background-color:  #1c1c1c !important;
  color: #ffffff !important;
}
.k-textbox::selection, .k-textarea::selection, .k-input.k-textbox::selection {
  background-color:  #bebebe !important;
  color: #ffffff !important;
}

th.k-header:hover {
  color:rgb(240, 240, 240) !important;
}


/* Buttons */
.k-button {
  color: rgb(240, 240, 240) !important;
}